<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name="MyAppCookie"
             loginUrl="~/Login.aspx"
             timeout="30"
             path="/"
             defaultUrl="~/HomePage.aspx">
      </forms>
    </authentication>
    
    <profile defaultProvider="DefaultProfileProvider" automaticSaveEnabled="false">
      <providers>
        
        
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="Memberships" applicationName="/" />
      </providers>
    <properties>
        <add name="FirstName" type="System.String"/>
        <add name="LastName" type="System.String"/>
        <add name="Make" type="System.String"/>
        <add name="Model" type="System.String"/>
        <add name="YearOfManufacture" type="System.String"/>
        <add name="Color" type="System.String"/>
        <add name="Engine" type="System.String"/>
        <add name="Transmission" type="System.String"/>
        <add name="ProfilePic" type="System.Byte[]" defaultValue="null"/>
        <add name="ProfilePicType" type="System.String"/>
    </properties>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="Memberships" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider" enabled="true">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="Memberships" applicationName="/" />
      </providers>
    </roleManager>
   
   
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobstructiveValidationMode" value="WebForms" />
    <add key="ValidationSettings:UnobstructiveValidationMode" value="Forms" />
  </appSettings>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-VicsGarage_2-20151124131634;Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />
    <add name="Memberships" connectionString="Data Source =(localDB)\v11.0;&#xD;&#xA;         Initial Catalog = Memberships;&#xD;&#xA;         Integrated Security = SSPI;&#xD;&#xA;         AttachDBFilename=|DataDirectory|\Memberships.mdf"
      providerName="System.Data.SqlClient" />
    <add name="servicesConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ServicesData.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="vics.garage.neiu@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true"
             userName="vics.garage.neiu@gmail.com" password="Neiu7878" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>


</configuration>